---
layout: default
---

<div class="barba-container home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <!-- <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2> -->
    <article class="cf ma2 flex flex-row flex-wrap justify-center">
      {%- for post in site.posts -%}
      <a class="w-third pa2 mb4 black link hover-blue" href="{{ post.url | relative_url }}" style="transition: 0.2s;">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <!-- <span class="post-meta">{{ post.date | date: date_format }}</span> -->
        <div class="aspect-ratio aspect-ratio--1x1">
          <img src="" alt="" class="db w-100 bg-black-10 db bg-center cover aspect-ratio--object">
        </div>
        <div class="pa2 ph0">
          <h3 class="db f3 mb1 mt3 f4 fw6">
            <span class="">
              {{ post.title | escape }}
            </span>
          </h3>
          <span class="f6">{{ post.description }} </span>
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </div>
      </a>
      {%- endfor -%}
    </article>

    <!-- <p class="feed-subscribe"><svg class="svg-icon orange"><use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg><a href="{{ "/feed.xml" | relative_url }}">Subscribe</a></p> -->
  {%- endif -%}

</div>
