---
layout: default
---
<article class="w-100 flex flex-column" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="mw-100 pa3 db vh-50  bg-black-05">
    <h1 class="f1 mb0" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="">
      <time class="" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author | escape }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="mw8 self-center pt4 pb4" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
